In [12]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.datasets import make_classification

In [2]:
file_path = 'train.csv'
df = pd.read_csv(file_path)

In [15]:
df.tail(100)

,id,raw_address,POI/street
299900,299900,cluster arcadia village jl.boulevard raya gadi...,arcadia village/jl.boulevard raya gading serpong
299901,299901,"pt. lasarez dina, mas al mujtaba duren sawit",pt. lasarez dinamika/mas al mujtaba
299902,299902,"genteng gent sido, no 2 rt 2 6 60275 genteng",/gent sido
299903,299903,inti 67 babura sunggal,/inti
299904,299904,helvetia timur pem 94 medan helvetia,/pem
...,...,...,...
299995,299995,jend ahmad yani 331 kertasari ciamis,/jend ahmad yani
299996,299996,"raya cila kko, cilandak timur kel.",/raya cila kko
299997,299997,tanjung gusta jl. yaya 2 no 17,/
299998,299998,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri/
299999,299999,jaya maspion permata blok beryl b2 no.58,jaya maspion permata/

In [10]:
df.index.size

300000

In [4]:
array_poi = []
array_street = []
array_poi_street = df['POI/street'].values.tolist()
for value in array_poi_street:
    array_poi.append(value.split("/")[0])
    array_street.append(value.split("/")[1])
array_raw_address = df['raw_address'].values.tolist()

In [6]:
i = 0
for i

gent sido
genteng gent sido, no 2 rt 2 6 60275 genteng

In [13]:
file_path_test = 'test.csv'
df_test = pd.read_csv(file_path_test)

In [14]:
df_test.head()

   id                                    raw_address
0   0          s. par 53 sidanegara 4 cilacap tengah
1   1          angg per, baloi indah kel. lubuk baja
2   2                          asma laun, mand imog,
3   3  ud agung rej, raya nga sri wedari karanganyar
4   4                     cut mutia, 35 baiturrahman